@using Application.DTOs.UserDTOs
@model List<UserViewDto>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between mb-3">
    <h4>Kullanıcılar</h4>
    <a asp-controller="User" asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus"></i> Yeni Kullanıcı
    </a>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Kullanıcı Adı</th>
            <th>E-Mail</th>
            <th>Telefon No</th>
            <th>Rol</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <form asp-controller="User" asp-action="Delete" method="post" asp-route-id="@item.Id">
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.UserName</td>
                    <td>@item.EMail</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Role</td>
                    <td>
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <button class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </form>
        }
    </tbody>
</table>